.single-item{
    width: 210px;
    height: 410px;
    margin: 20px;

    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: #4b7772;
    }
    

    .item-image{
        height: 60%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .heart-icon{
            position: relative;
            color: red;
           font-size: 25px; 
           left: 85px;
           top: 5px;
           cursor: pointer;
        }

    
    }
  

}
