.single-item{
    width: 260px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    .item-image{
        height: 70%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .heart-icon{
            position: relative;
            color: red;
           font-size: 25px; 
           left: 85px;
           top: 5px;
           cursor: pointer;
        }   
    }

    .item-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        p{
            margin-bottom: 0;
        }
        .item-name{
            a{
                text-decoration: none;
                color: black;
                font-size: 24px;
                font-weight: 500px;
                text-decoration: none;
            }
            a:hover{
                color: #4b7772;
            }
        }
        .item-category{
            font-size: 20px;
            font-weight: 400px;
            color: #b7b4b4;
        }
        .item-price{
            font-size: 30px;
            font-weight: 700px;
            color: #4b7772;
        }
        
        }
  
  

}
