.sign-in-form div label {
    width: 90px;
  }
  
  .sign-in-form input {
    background-color: rgba(189, 186, 186, 0.332);
    border: none;
    width: 329px;
    height: 51px;
    border-radius: 6px;
  }