.calculate-board-div {
    display: flex;
    background-color: white;
    height: 80vh;
    width: 80vw;

    img {
        height: auto;
        width: 60%;
      }
      .calculate-board-form {
        padding-top: 50px;
        width: 400px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
      }
      .input-board-ccalculate {
        background-color: rgba(189, 186, 186, 0.332);
        border: none;
        width: 329px;
        height: 51px;
        border-radius: 6px;
      }
      .div-inputs {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
  }

  @media (max-width: 1100px) {
    .calculate-board-div  {
        justify-content: center;
        img{
            display: none;
        }
    }
  }

  @media (max-width: 700px) {
      .input-board-ccalculate {
        width: 290px;
        height: 45px;
      }
  }

  @media (max-width: 414px) {
    .input-board-ccalculate {
      width: 240px;
      height: 35px;
    }
  }