.first-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/backgroundImage.jpg);
  background-repeat: no-repeat;

  /* position: absolute;
width: 603px;
height: 269px;
left: 851px;
top: 205px; */
}
.home-image {
  z-index: -1;
  background-repeat: no-repeat;
  position: absolute;
}

.home-container {
    /* position: absolute; */
   
    left: 846px;
    top: 382px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;  
    
  }
 

  .title {
    line-height: 120px;
    font-family: "Chivo", sans-serif;
    font-weight: 900;
    font-size: 159px;
    
  } 
  
  .title span{
    display: inline-block;
    overflow: hidden;
    margin-left: 60px;
   
    text-align: right;
  
  }



.link-seeItems {
  /* position: absolute; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: white;
  text-decoration: none;
  font-size: 20px;
  Width: 261px;
  Height: 67.35px;
  background-color: #4b7772;
  border-radius: 6px;
  border-style: none;
}
.link-seeItems a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.link-seeItems a:hover {
    color: black;
}





.second-section {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #4b7772;
}
.calculate-board-div {
  display: flex;
  background-color: white;
  height: 80vh;
  width: 80vw;
}

.calculate-board-div img {
  height: auto;
  width: 60%;  
}

.calculate-board-form{  
  padding-top: 50px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.input-board-ccalculate{
  background-color: rgba(189, 186, 186, 0.332);
  border: none;
  width: 329px;
  height: 51px;
  border-radius: 6px;
}
.div-inputs{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.calculate-board-div button{
  color: white;
  text-decoration: none;
  font-size: 20px;
  Width: 307px;
  Height: 52px;
  background-color: #4b7772;
  border-radius: 6px;
  border-style: none;
}


@media (max-width: 1100px) {
  .calculate-board-div img{
    display: none;
  }
  .calculate-board-div{
    justify-content: center;
  }

}@media (max-width: 700px){
  .title{
    font-size: 110px;
    line-height: 90px;
  }
  .title p{
    font-size: 24px;
  }
  .title button{
    font-size: 18px;
  }


  .calculate-board-div button{
    font-size: 18px;
  Width: 260px;
  Height: 45px;
  }
  .input-board-ccalculate{
    width: 290px;
     height: 45px;
  }
}@media (max-width: 414px){

  .calculate-board-div button{
    font-size: 16px;
  Width: 200px;
  Height: 35px;
  }
  .input-board-ccalculate{
    width: 240px;
     height: 35px;
  }
}










  

 




