.first-section{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
    /* position: absolute;
width: 603px;
height: 269px;
left: 851px;
top: 205px; */
}
.home-image {
    /* position: absolute; */
width: 732px;
height: 489px;
left: 78px;
top: 325px;
border-radius: 150px;
}
.home-paragraf{
    /* position: absolute; */
width: 603px;
height: 269px;
left: 846px;
top: 382px;

font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
}
.button-about{
    
    /* position: absolute; */
    width: 400px;
    height: 100px;
    left: 38px;
    top: 205px;
    background-color: #4B7772;
    
    border-radius: 150px;
}
.btn-purple{
    width: 210px;
    height: 79px;
    left: 255px;
    top: 1280px;
    
    
    
    background: #787EA7;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;

    position: absolute;
width: 51px;
height: 33px;
left: 332px;
top: 1303px;

font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;

color: #FFFFFF;
}

.colorCard{
    background-color: #90a9bf;
}

